* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }

  main {
    display: flex;
    flex-wrap: wrap ;
    margin-top: 5%;
  }

  .card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }

  .card header {
    padding: 20px;
    background: #cb0fdc;
    color: rgb(92, 6, 118);
  }